[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ipykernel = "*"
streamlit = "*"
bs4 = "*"
pydoi = "*"
crossrefapi = "*"
semanticscholar = "*"
pandas = "*"
plotly = "*"
nbformat = "*"
matplotlib = "*"
ipywidgets = "*"
tabulate = "*"
pipfile = "*"
paper-analysis = {editable = true, path = "."}

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
mypy = "*"
pylint = "*"

[requires]
python_version = "3.10"
